[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Tiago Palma (tiago-palma)
[access "refs/for/refs/*"]
	read = group user/Tiago Palma (tiago-palma)
	push = group user/Tiago Palma (tiago-palma)
	label-Code-Review = -2..+2 group user/Tiago Palma (tiago-palma)
	label-Verified = -1..+1 group user/Tiago Palma (tiago-palma)
	rebase = group user/Tiago Palma (tiago-palma)
	removeReviewer = group user/Tiago Palma (tiago-palma)
	submit = group user/Tiago Palma (tiago-palma)
[access "refs/heads/*"]
	read = group user/Tiago Palma (tiago-palma)
	create = group user/Tiago Palma (tiago-palma)
	push = +force group user/Tiago Palma (tiago-palma)
	pushMerge = group user/Tiago Palma (tiago-palma)
[access "refs/tags/*"]
	push = +force group user/Tiago Palma (tiago-palma)
	pushTag = group user/Tiago Palma (tiago-palma)
	pushSignedTag = group user/Tiago Palma (tiago-palma)
